# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# TypeScript
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# Build output
dist/
build/

# Environment variables
.env
.env.local